@page "/search"
@using System.Text.Json.Serialization
@using System.Text.Encodings.Web
@using Conesoft.Website.TorrentKontrol.Components.Controls
@using Conesoft.Website.TorrentKontrol.Configuration
@using Conesoft.Website.TorrentKontrol.Services

@inject IOptionsSnapshot<Config> config
@inject IHttpClientFactory factory
@inject TorrentNamingHelper namingHelper

@rendermode InteractiveServer

<CascadingAuthenticationState>
    <UserHeaderNav>
        <HomeButtonContent>⌂</HomeButtonContent>
        <NavContent>
            <NavLink Match=NavLinkMatch.All href="/">torrentkontrol</NavLink>
            <NavLink href="/search" style="font-size: 0.8em">&#x1F50E;&#xFE0E;</NavLink>
            |
            <AuthorizeView>
                <Authorized>
                    <UnblockedLink />
                </Authorized>
            </AuthorizeView>
        </NavContent>
    </UserHeaderNav>
    <AuthorizeView Roles="Admin, Editor" Context="_">
        <Authorized>
            <main>
                <section id="search">
                    <form>
                        <input type="search" name="query" value=@Query placeholder="enter search terms here" />
                        <button type="submit">&#x1F50E;&#xFE0E;</button>
                    </form>
                </section>

                @if (entries?.Length > 0)
                {
                    foreach (var quality in entries)
                    {
                        <section id="results" title="@quality.Key.ToString()!.Replace("Quality", "")">
                            <ul class="with-icon">
                                @foreach (var entry in quality.OrderByDescending(e => e.Size))
                                {
                                    <li>
                                        @if (entry.NumFiles > 1)
                                        {
                                            <img src="/folder-icon.svg">
                                        }
                                        else
                                        {
                                            <img src="/file-icon.svg">
                                        }
                                        <section class="@(entry.NumFiles > 1 ? "folder" : "file")">
                                            <a href="magnet:?xt=urn:btih:@entry.InfoHash&dn=@UrlEncoder.Default.Encode(entry.Name)">@namingHelper.GenerateCleanNameFromString(entry.Name)</a>
                                            <TagList SourceForTags="@entry.Name" />
                                            <table class="activity">
                                                <tr><th>▲</th><td>@entry.Seeders</td></tr>
                                                <tr><th>▼</th><td>@entry.Leechers</td></tr>
                                            </table>
                                            <aside>@entry.Size.Bytes()</aside>
                                        </section>
                                    </li>
                                }
                            </ul>
                        </section>
                    }
                }
                else if (entries != null)
                {
                    <aside id="no-results">no results found for '@Query' ... :(</aside>
                }

                @if (Query?.Length > 0 && entries == null)
                {
                    <aside id="no-results">searching ...</aside>
                }

            </main>
        </Authorized>
    </AuthorizeView>
</CascadingAuthenticationState>

@code {
    IGrouping<Quality, Entry>[]? entries;

    [SupplyParameterFromQuery]
    public string? Query { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (string.IsNullOrWhiteSpace(Query))
        {
            return;
        }
        if (RendererInfo.IsInteractive)
        {
            var client = factory.CreateClient();

            foreach (var header in config.Value.Search.Headers)
            {
                client.DefaultRequestHeaders.Add(header.Key, header.Value);
            }
            var response = await client.GetStringAsync(config.Value.Search.Query.Replace("{Query}", Query));
            var entries = await client.GetFromJsonAsync<Entry[]>(config.Value.Search.Query.Replace("{Query}", Query));

            this.entries = GroupedByQuality(entries ?? []).ToArray();

            await InvokeAsync(StateHasChanged);
        }
    }

    static IEnumerable<IGrouping<Quality, Entry>> GroupedByQuality(IEnumerable<Entry> entries) => entries.Where(e => e.Id != 0).GroupBy(GetQualityFrom).OrderByDescending(g => g.Key);

    static Quality GetQualityFrom(Entry entry) => entry.Name switch
    {
        var name when name.Contains("2160p") => Quality.Quality2160p,
        var name when name.Contains("1080p") => Quality.Quality1080p,
        var name when name.Contains("720p") => Quality.Quality720p,
        _ => Quality.Any
    };

    enum Quality
    {
        Any,
        Quality720p,
        Quality1080p,
        Quality2160p
    }


    public record Entry(long Id, string Name, [property: JsonPropertyName("info_hash")] string InfoHash, string Leechers, string Seeders, [property: JsonPropertyName("num_files")] int NumFiles, long Size, string Username, string Added, string Status, string Category, string Imdb);
}
