@using Conesoft.Blazor.Components.Interfaces
@using Conesoft.Website.TorrentKontrol.Features.Runtime
@using Conesoft.Website.TorrentKontrol.Features.Runtime.Client
@using Conesoft.Website.TorrentKontrol.Features.Runtime.Services
@using Humanizer.Bytes
@using MonoTorrent.Client

@inject ICleanNameGenerator cleanName
@inject TorrentService Torrents

<li class="torrent" title="@(Torrent.Torrent?.Name ?? string.Empty)">
    <progress max='100' value=@Torrent.Progress></progress>
    <section>
        <b>@cleanedName</b>
        @{
            var size = Torrent.Torrent?.Size.Bytes() ?? new();
            var speed = Torrent.Monitor?.DownloadRate.Bytes() ?? new();
        }
        <aside class="speed">
            <b>@Math.Round(speed.LargestWholeNumberValue, 1)</b>@speed.LargestWholeNumberSymbol/s
        </aside>
        <aside class="percentage">
            <b>@Math.Round(Torrent.Progress, 1)</b>%
        </aside>
        <aside class="size">
            <b>@Math.Round(size.LargestWholeNumberValue, 1)</b>@size.LargestWholeNumberSymbol
        </aside>
        <TagList SourceForTags="@Torrent.Torrent?.Name" />
    </section>
    <menu>
        <AuthorizeView Roles="Admin, Editor">
            <li>
                <button dangerous @onclick="@(() => Engine.Remove(Torrent) ?? Task.CompletedTask)">✕</button>
            </li>
        </AuthorizeView>
    </menu>
</li>

@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> Parameters { get; set; } = [];

    [Parameter]
    public TorrentManager Torrent { get; set; } = default!;

    [Parameter]
    public TorrentEngine Engine { get; set; } = default!;

    string cleanedName = "";

    protected override void OnParametersSet()
    {
        this.cleanedName = cleanName.GenerateCleanNameFromString(Torrent.Torrent?.Name ?? string.Empty);
    }
}
